.todo {
    width: 90%;
    max-width: 600px;
    min-height: 80vh;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.todo-header {
    margin-top: 40px;
    color: #002765;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
}

.todo-add {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
}

.todo-input {
    border-radius: 50px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 100%;
    max-width: 576px;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

.todo-add-btn {
    border-radius: 50px;
    background: #ff6739;
    width: 100%;
    max-width: 187px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .todo-header {
        font-size: 24px;
        margin-top: 20px;
    }

    .todo-input, .todo-add-btn {
        height: 40px;
        font-size: 16px;
    }

    .todo-add-btn {
        max-width: none;
    }
}

@media (max-width: 480px) {
    .todo-header {
        font-size: 20px;
        margin-top: 10px;
    }

    .todo-input, .todo-add-btn {
        height: 36px;
        font-size: 14px;
    }

    .todo-add-btn {
        max-width: none;
    }
}
